@model EventListingApplication.Models.Listing

@{
    ViewBag.title = @Model.Title;
}

<h2>@Model.Title</h2>


<img width="400" src="@Url.Action("GetImage","Listing", new { id=Model.ListingID})" />


<div class="listing-description">@Html.DisplayFor(model => model.Description)</div>
    


<div class ="display-label">
<span>
    @Html.DisplayNameFor(model => model.UserName):
    </span>
    </div>

<span>
    @Html.DisplayFor(model => model.UserName)
</span>
   

<h2>Comments</h2>


   <div class="listing-comment">
    <div class="listing-from">     
            From: Luke
    </div>
    <div class="listing-subject">
       Subject: Test
    </div>
    <div class="listing-comment-body"> 
        This is a test.
    </div>
     @Html.Action("_CommentGallery", "Comment")
   </div>

<div class="add-comment-box">

    @Html.ActionLink("Add a comment", "Create", "Comment", new { parent=Model.ListingID }, null)
    </div>

    <p>@Html.ActionLink("Back to List","Index")</p>





