@model EventListingApplication.Models.Listing

@{
    ViewBag.title = @Model.Title;
}

<h2>@Model.Title</h2>


<img width="400" src="@Url.Action("GetImage","Listing", new { id=Model.ListingID})" />

<p>@Html.DisplayFor(model => model.Description)</p>
<p>@Html.DisplayFor(model => model.UserName)</p>
<p>
    @Html.DisplayNameFor(model => model.UserName):
    @Html.DisplayFor(model => model.UserName)
</p>

<h2>Comments</h2>



<p>
    @Html.ActionLink("Add a comment","Create","Comment")


    <p>@Html.ActionLink("Back to List","Index")</p>
    </p>
<link type="text/css" rel="stylesheet" href="~/Content/EventListingStyles.css" />





